<?xml version="1.0" encoding="UTF-8"?>
<!--
    Based off of https://mkyong.com/logging/slf4j-logback-tutorial/
    and https://www.cloudesire.com/configure-logback-log-level-via-environment-variables/
    and https://blog.8bitzen.com/posts/26-02-2020-adding-colour-to-logback-logs
-->
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %cyan(%d{HH:mm:ss.SSS}) %gray([%thread]) %highlight(%-5level) %magenta(%logger{36}) - %msg%n
            </pattern>
        </encoder>
    </appender>

    <variable name="LOG_LEVEL" value="${logging:-INFO}"/>
    <logger name="me.soels.thesis" level="${LOG_LEVEL}" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
